<h1>Songs#new</h1>
<%= form_for @song do |f|%>
<div class="field">
    <%=f.label :title%><br>
    <%=f.text_field :title%><br>
</div>

<div class="field">
  <%=f.label :released%><br>
  <%=f.check_box :released%><br>
</div>

<div class="field">
  <%=f.label :release_year%><br>
  <%=f.text_field :release_year%><br>
</div>


<%%>
